/* CSS Document */
.chatBoard {
	background-color: #F7FCFF;
	border: 1px solid #72AAFF;
}

.imageControl img {
	border: 1px #AAAAAA solid;
}

html>body .imageControl img {
	background: #DDDDDD;
}

html>body .imageControl img:hover {
	background: #FFFFFF;
}

.message {
	border: 1px solid #72AAFF;
}

.chatBor {
	border: 3px solid #FFCC66;
}

.status {
	background:#ED0000;
	color:#FFFFFF;
}

.status1 {
	background:#ED0000;
	color:#FFFFFF;
}

.copyright {
	color:#CBCBCB;
}

.chatBoardHead, .chatBoardHeadTween {
	background:#72AAFF;
	background-image: url(../images/consoleHead_a.gif);
}

.chatBoardHeadTween {
	background-image: url(../images/consoleHead_sp.gif);
}

.chatTable {
	border: 3px solid #72AAFF;
	border-top-color: #0066FF;
	background: #FFFFFF;
}

.options {
	color:#666666;
}

.options span:hover {
	color:#000000;
}

#logPanel, #infoPane, #transLogPanel{
	border: 3px solid #72AAFF;
	border-top-color: #0066FF;
	background: #FFFFFF;
}

.innerPane {
	border: 1px solid #72AAFF;
}

.uploadTable {
	border: 3px solid #FFAA55;
	background: #FFFFFF;
}


.uploadTable iframe {
	border: 1px solid #72AAFF;
}

#addBuddy {
	background-color: #72AAFF;
}

.dialogSurr {
	background-color: #EAF6FD;
}

#smileyTablePane {
	background: #EAF6FD;
}